.category-item-container{
    width: 25rem;
    height: 5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 0.2rem solid #44475a;
    border-radius: 10px;
    margin: 0.8rem 1.5rem;
}
.category-item-container strong{
    color: #696666;
}

.button-container button{
    margin: 0px 4px;
    border: none;
}

.button-container .button-edit{
    background-color: #6272a4;
    border-radius: 50%;
}

.button-container .button-delete{
    background-color: #ff5555;
    border-radius: 50%;
}

.button-container .button-edit:focus{
    border: none;
}

.button-container .button-delete:focus{
    border: none;
}